---
title: Technology Licensing
---
<h1><%= current_page.data.title %></h1>
1.  **PIEZOELECTRIC MICROCANTILEVER SENSOR AND ENERGY HARVESTER**

    [TBT, Inc.](http://tbtgroup.net/materials-manufacturing.html) is a startup company that licensed the piezoelectric energy harvesting technology and the piezoelectric microcantilever sensor (PEMS) technologies for non-human clinical applications in 2007.

    TBT Inc. has raised more than $5 M since then and developed a number of high-performance thin piezoelectric sheets and is currently focusing on miniaturized piezoelectric actuator devices.

2.  **PIEZOELECTRIC FINGER BREAST CANCER DETECTOR**

    [UE Life Sciences (UELS)](http://www.uelifesciences.com/) has licensed the piezoelectric finger breast cancer detector, a low-cost radiation-free breast cancer technology that can be used where mammography is ineffective such as in dense breasts or where mammography is unaffordable such as in developing countries.

    UELS has obtained a CURE grant from the Department of Health of the Commonwealth of Pennsylvania towards the commercialization of the piezoelectric finger breast cancer detection technologies with my help. UELS has since completed the prototype development, received FDA approval, and $3M venture funding. It has completed testing in 30,000 women in 2016 and is on track to being tested in 2M women in India.

3.  **BREAST CANCER SURGICAL MARGIN ASSESSMENT TOOL**

    AQD Life Sciences is negotiating an option agreement for the breast cancer surgical margin assessment technology.

    The breast cancer surgical margin assessment technology, a low-cost near-infrared (NIR) aqueous quantum dots molecular probe-based imaging tool to help surgeons determine intraoperatively if the surgical margin is clear of cancer.

4. **PIEZOELECTRIC PLATE SENSOR TECHNOLOGY**

    Piezoelectric plate sensor (PEPS) is a revolutionary sensor platform capable of genetic detection without the need of nucleic acid amplification or nucleic acid isolation.

    [Lenima Field Diagnostics (LFD)](http://www.lenimafield.com) has an option agreement with Drexel University and is currently converting it to a licensing agreement.

    LFD has received its first NIH STTR award to develop a rapid, low-cost Clostridium difficile infection (CDI) test to combat CDI.

    LFD is also developing a low-cost cancer-specific blood molecular test for early detection of recurrence in breast cancer survivors (3 million in the US alone).

    LFD has received a second STTR award to develop a low-cost, field-friendly blood test for use in developing countries to detect chronic hepatitis B (HB) and chronic hepatitis C (HC) infections, which affecting more than 400 million people worldwide but mostly in developing countries so that chronic HB and HC infections can be diagnosed and treated.

