---
title: Aqueous Quantum Dots (AQDs) Molecular Probe
---
%h1= current_page.data.title
%p Our lab has successfully developed a highly robust and yet cost-effective fluorescent molecular probe based on aqueous quantum dots (AQDs). AQDs are quantum dots (QDs) completely synthesized in water with emissions ranging from visible to near infrared (NIR) and capped with abundant carboxyls. By successfully conjugating multiple AQDs to one single antibody, she has accomplished an unprecedented fluorescent molecular probe that does not photobleach, permits economical use of antibody while also achieves robust and rapid molecular imaging.

%h2 Intraoperative Breast Surgical Margin Assessment
%p Using multiple NIR AQDs bound to one cancer-specific antibody, the AQDs molecular probe has demonstrated unparalleled, robust cancer-specific imaging in less than 30 min for intra-operative breast surgical margin assessment. AQD Life Sciences is founded to license the technology and is currently working towards its commercialization.

%h2 High-Efficiency Gene Delivery
%p Viral vectors are the current gold standard of gene delivery. While viral vectors offers high gene expression efficiency they pose risks to patients. Many non-viral alternatives as gene-transfection vectors have been investigated. However none could offer the efficiency of viral vectors. Our lab showed that AQDs coupled with polyethylenimine (PEI) could effectively deliver DNA into nuclei and were non-cytotoxic at the same time with better than 75% gene expression in the cytoplasm. Such high efficiency makes the AQDs-PEI gene delivery system an attractive alternative to viral vector.

%h2 Charge-Neutral Stable Non-Cytotoxic Near-Infrared AQDs
%p To stabilize QDs in an aqueous environment they are often charged. The surface charge that makes them stable can create undesirable non-specific binding of the QDs and result in toxicity to the cells. In this study, we created AQDs Our lab has created novel zwitterionic, charged-neutral NIR SnS AQDs that not only are stable but also non-cytotoxic. Such zwitterionic AQDs will enable many <em>in vivo</em> applications from disease imaging and gene delivery.