---
title: Piezoelectric Finger (PEF)
---
%h1= current_page.data.title
%p A piezoelectric finger (PEF) is piezoelectric cantilever sensor capable of all-electrical tissue-stiffness measurement. <em>Measurement of tissue stiffness is achieved by simply placing a PEF on a tissue much like palpation</em> (electronic palpation) but with much higher sensitivity and accuracy

%h2 Breast Cancer Detector
%p PEF breast cancer detector is a PEF-based sensor that has been successfully tested in vivo with better sensitivity than mammography. It detects breast cancers in women with dense breasts that mammography could not detect. UELS has licensed the technology and received FDA approval. The PEF breast cancer detector under the trade name, intelligent Breast Exam (iBE&reg;) is being tested to 3M women in India.

%h2 Melanoma Thickness Quantifier
%p The most important melanoma prognostic indicator is its thickness. Thus, stage of melanoma is based on its thickness. Because melanoma is so thin (even at its III and IV stages) accurate staging of melanoma has been difficult without surgery. After surgery, melanoma thickness can also be made less accurate by the practice of repeated shaving to avoid unnecessarily removal of healthy tissues underneath the melanoma surgery. We have shown that using a set of PEFs of different thickness one can accurately determine the thickness of melanoma in model tissues. It is believed the non-destructive nature of PEF and its ability to determine the thickness of melanoma before surgery will have a positive impact on melanoma diagnosis, treatment, and prognosis.

%h2 Deep Tissue Injury (DTI) Detection
%p Deep tissue injuries (DTIs) are pressure ulcers that are originated deep in the tissues that are not visible on the surface due to shear or rubbing of tissues under pressure. Left untreated DTIs can progress to stage III and IV pressure ulcers that are difficult and costly to treat. Ultrasound elastography measurements indicate that pressure ulcers are stiffer than the surround tissues. PEFs has been successfully applied to detect breast cancer by in vivo tissue stiffness contrasting. It is believed that PEF can detect DTI early to prevent it from progressing to stage III or IV.