---
title: People Overview
---
%h1= current_page.data.title
.clearfix
  = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/shih-wan.ashx", alt: "Dr. Wan Y. Shih", class: "right"
  %h2 Wan Y. Shih, PhD
  %p
    %em Professor
    %br/
    %em School of Biomedical Engineering, Science and Health Systems
    %br/
    %em Drexel University
  %p
    %em Fellow
    %br/
    %em National Academy of Inventors
    %br/
    %a{href: "mailto:shihwy@drexel.edu", class: "more-link"} Email

%hr/

%h2 PhD Students
%ul
  %li Song Han
  %li Pawan Rao
  %li Hassan Alotaibi
  %li Alixandra Jednorski
  %li Özgὒn Acar

%h2 Master Students
%ul
  %li Huai-Yu Chen
  %li Jing Chen

%h2 Undergraduate Students
%ul
  %li Robert Theisen
  %li Matthias Recktenwald
  %li Joel Bosco