---
title: Publications List
---
<h1><%= current_page.data.title %></h1>

1.  K. Pooput,* C.-H. Lu,* **W. Y. Shih**, and W.-H. Shih, “Stable Aqueous Wurtzite Kesterite Suspensions by Direct Precipitation with Capping Molecules”, *J. Nanoscience and Nanotechnology* 17(3), 2185-90 (2017).
2.  X. Xu,* Y. Chung, A. D. Brooks, W.-H. Shih, and **W. Y. Shih**, “Development of array piezoelectric fingers towards in vivo breast tumor detection,” *Review of Scientific Instruments*, 87, 124301 (2016).
3.  C.H. Lu,* J. Hu,* **W. Y. Shih**, W.-H. Shih, “Control of morphology, photoluminescence, and stability of colloidal methylammonium lead bromide nanocrystals by oleylamine capping Molecules,” *J. Colloid and Interface Science*, 484, 17-23 (2016).
4.  W. Wu,* W.-H. Shih, and **W. Y. Shih**, “Direct observation of binding stress-induced crystalline orientation in Piezoelectric Plate Sensors (PEPS),” *J. Appl. Phys.* 119, 124512 (2016).
5.  C.E. Kirimli,* W.-H. Shih, and **W. Y. Shih**, “Amplification-free In Situ KRAS Point Mutation Detection at 60 copies/mL in Urine in a Background of 1000-fold Wild Type,” *Analyst*, 141, 1421–1433 (2016).
6.  C.-H. Lu,* W.Y. Shih, and W.-H. Shih, “Effects of Pb Treatment on Optical Properties of Aqueous CdSe Quantum Dots,” *Ind. Eng. Chem. Res.* 55(1), 99-106 (2016).
7.  C.E. Kirimli,* W.-H. Shih, and **W. Y. Shih**, “Specific In Situ Hepatitis B Viral Double Mutation (HBVDM) Detection in Urine with 60 copies/ml Analytical Sensitivity in a background of 250-fold Wild Type without DNA Isolation and Amplification,” *Analyst*, 140, 1590-1598 (2015).
8.  G. H. T. Au,* **W. Y. Shih**, W.-H. Shih, “Efficient intranuclear gene delivery by CdSe aqueous quantum dots
electrostatically-coated with polyethyleneimine,” *Materials Res. Express*, 2 (2015) 015401.
9.  L. T. Beringer, X. Xu, W. Shih, W.-H. Shih, R. Habas, and C. L. Schauer, “Optimization of an electrospun PVDF-TrFe fiber sensor platform for biological applications,” *Sensors and Actuators* A, 222, 293-300 (2015).
10. C.E. Kirimli,* W.-H. Shih, and **W. Y. Shih**, “DNA Hybridization Detection with 100 zM Sensitivity Using Piezoelectric Plate Sensors with Improved Noise-Reduction Algorithm,” *Analyst*, 139(11), 2754-63 (2014).
11. G. H. T. Au,* **W. Y. Shih**, W.-H. Shih, “Quantitative Assessment of Tn antigen in Breast Tissue Micro-arrays using CdSe Aqueous Quantum Dots,” *Biomaterials*, 35(9):2971-80 (2014).
12. G. H. T. Au,* **W. Y. Shih**, W.-H. Shih, “High-Conjugation-Efficiency Aqueous CdSe Quantum Dots, ” *The Analyst*, 138, 7316-7325 (2013)
13. W. Wu,* **W. Y. Shih**, and W.-H. Shih, “Enhancing Detection Sensitivity of Piezoelectric Plate Sensor by Increasing Transverse Electromechanical Coupling Constant,” *J. Appl. Phys.* 114, 064505 (2013).
14. C. E. Kirimli,* W.-H. Shih, and **W. Y. Shih**, “Temperature- and Flow-Enhanced Detection Specificity of Mutated DNA against Wild Type with Reporter Microspheres,” *The Analyst*, 138, 6117-6126 (2013).
15. X. Xu,* C. Gifford-Hollingsworth, R. Sensenig, W.-H. Shih, **W. Y. Shih**, and A.D. Brooks, “Breast Tumor Detection using Piezoelectric Fingers: First Clinical Report,” *J. Am. Coll. Surg.*, 216, 1168-73 (2013).
16. Q. Zhu,* W.-H. Shih, and **W. Y. Shih**, “Enhanced Dimethyl Methylphosphonate (DMMP) Detection Sensitivity by Lead-Magnesium Niobate-Lead-Titanate/Copper Piezoelectric Microcantilever Sensors via Young's Modulus Change,” *Sensors and Actuators B*, 182, 147-155 (2013).
17. M. Soylu,* W.-H. Shih; **W. Y. Shih**, “Insulation by Solution 3-Mercaptopropyltrimethoxysilane (MPS) Coating: Effect of pH, Water, and MPS Content,” Industrial & Engineering Chemistry Research. Ind. Eng. Chem. Res. 52, 2590−2597 (2013).
18. W. Wu,* C. Kirimli, W.-H. Shih, and **W. Y. Shih**, “Real-time, In Situ DNA Hybridization Detection with Attomolar Sensitivity without Amplification Using (Pb(Mg1/3Nb2/3)O3)0.65-(PbTiO3)0.35 Piezoelectric Plate Sensors,” *Biosensors and Bioelectronics*, 43, 391–399 (2013).
19. G. H. T. Au,* **W. Y. Shih**, W.-H. Shih, L.Mejias, V. K. Swami, K. Wasko, and A. D. Brooks, “Assessing Breast CancerMargins Ex Vivo Using Aqueous Quantum-Dot-Molecular Probes,” *International Journal of Surgical Oncology*, 2012:861257 (2012), doi:10.1155/2012/861257.
20. X. Gao,* **W. Y. Shih**, and W.-H. Shih, “Flow Energy Harvesting Using Piezoelectric Cantilevers with Cylindrical Extension,” *IEEE Trans. Ind. Electron*. 60, 1116 (2013).
21. C.-Yi Hsieh, W.-H. Liu, Y.-F. Chen, **W. Y. Shih**, X. Gao, and W.-H. Shih “Voltage Generation of Piezoelectric Cantilevers by Laser Heating,” *J. Appl. Phys.*, 112, 104506 (2012).
22. C.-Yi Hsieh, M.-L. Lu, J.-Y. Chen, Y.-T. Chen, Y.-F. Chen, **W. Y. Shih** and W.-H. Shih, “Single ZnO nanowire–PZT Optothermal Field Effect Transistors,” *Nanotechnology* 23, 355201-5, (2012).
23. C.-Yi Hsieh, Y.-T. Chen, W.-J. Tan and Y.-F. Chen, **W. Y. Shih**, and W.-H. Shih, “Graphene-Lead Zirconate Titanate Optothermal Field Effect Transistors,” *Apply. Phys. Lett.* 100, 113507 (2012).
24. G. H. T. Au,* **W. Y. Shih**, S.-J. Tseng and W.-H. Shih, “Aqueous CdPbS quantum dots for near-infrared imaging,” *Nanotechnology*, 23, 275601-9 (2012).
25. X. Li,* W. Wu, Y. Chung, **W. Y. Shih**, W.-H. Shih, Q. Zhou, K. K. Shung, “80 MHz intravascular ultrasound (IVUS) transducer using PMN-PT free-standing film,” *IEEE Trans. on Ultra., Ferro., and Freq. Control*, 58, 2281 – 2288 (2011).
26. J. Capobianco,* **W. Y. Shih**, G. Adams, and W.-H. Shih, “Label-free Growth Receptor-2 Detection and Dissociation Constant Assessment in Diluted Human Serum Using a Longitudinal Extension Mode of a Piezoelectric Microcantilever Sensor,” *Sensors and Actuators* B, 160, 349-356 (2011).
27. L. Loo, W. Wu, **W. Y. Shih**, W.-H. Shih, H. Borghaei, K. Pourrezaei, G. P. Adams, “A Rapid Method to Regenerate Piezoelectric Microcantilever Sensors (PEMS),” *Sensors*, 11, 5520-5528 (2011).
28. H. Li,* M. Li, P. I. Lelkes, **W. Y. Shih**, W.-H. Shih, “Cytotoxicity tests of water soluble ZnS and CdS quantum dot,” *J. Nanoscience and Nanotechnology*, 11, 3543–3551, (2011).
29. L. Loo, J. A. Capobianco, W. Wu, X. Gao, **W. Y. Shih**, W.-H. Shih, K. Pourrezaei, M. K. Robinson, and Gregory P. Adams, “Highly Sensitive Detection of HER2 Extracellular Domain in the Serum of Breast Cancer Patients by Piezoelectric Microcantilevers,” *Anal. Chem.*, 83, 3392–3397(2011).
30. X. Gao,* **W. Y. Shih**, and W.-H. Shih, “Vibration Energy Harvesting Using Piezoelectric Unimorph Cantilevers with Unequal Piezoelectric and Nonpiezoelectric Lengths,” *Appl. Phys. Lett.* 97, 233503 (2010).
31. H. Yegingil,* W.-H. Shih, and **W. Y. Shih**, “Probing Model Tumor Interfacial Properties Using Piezoelectric Cantilevers,” *Rev. Sci. Instrum.*, 81, 095104 (2010).
32. J. Capobianco,* W.-H. Shih, J.-H. Leu, C.F. Lo, and **W. Y. Shih**, “Label Free Detection of White Spot Syndrome Virus Using Lead Magnesium Niobate-Lead Titanate Piezoelectric Microcantilever Sensors,” *Biosensors and Bioelectronics*, 26, 964–969 (2010).
33. H. Li,* **W. Y. Shih**, and W.H. Shih, “Lead-Free Piezoelectric Freestanding Films with Sheet Geometry-Enhanced High-Field Piezoelectric Coefficients,” *J. Am. Ceram. Soc.*, 93[7], 1852-1855 (2010)
34. Qiang Zhao, **W. Y. Shih**, Hsiao-Lan Chang, and W.-H. Shih, "Redox Activity and NO Storage Capacity of MnOx-ZrO2 with Enhanced Thermal Stability at Elevated Temperatures." *Industrial & Engineering Chemistry Research*, 49(4), 1725-1731 (2010).
35. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Highly Photoluminescent and Stable Aqueous ZnS Quantum Dots,” *Ind. Eng. Chem. Res.*, 49, 578–582 (2010).
36. J.-P. McGovern,* W.-H. Shih, Richard Rest, Mitali Purohit, Mark Mattiucci, Kambiz Pourrezaei, Banu Onaral, and **W. Y. Shih**, “Array PZT/glass piezoelectric microcantilevers for real-time detection of Bacillus anthracis with 10 spores/ml sensitivity and 1/1000 selectivity in bacterial mixtures,” *Rev. Sci. Instrum.* 80, 125104 (2009).
37. A. B. Nover, S. Jagtap, W. Anjum, H. Yegingil, **W. Y. Shih**, W.-H. Shih and A. D Brooks, “Modern Breast Cancer Detection: A Technological Review," *International Journal of Biomedical Imaging*, Vol. 2009, 902326-902339 (2009).
38. X. Gao,* **W. Y. Shih**, and W.-H. Shih, “Induced Voltage of Piezoelectric Unimorph Cantilevers of Different Nonpiezoelectric/Piezoelectric Length Ratios,” *Smart Materials and Structures*, 18 (2009) 125018.
39. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Synthesis of Na0.5K0.5NbO3 Piezoelectrics by a Solution Coating Approach,” *Int. J. Appl. Ceram. Technol.*, 6, 205–215 (2009).
40. Q. Zhao,* **W. Y. Shih**, and W.-H. Shih, “Effects of Processing Parameters on the Morphology of Precipitated Manganese Oxide Powders,” *Ind. Eng. Chem. Res.*, 48, 1490–1494 (2009).
41. Q. Zhu,* **W. Y. Shih**, and W.-H. Shih, “Enhanced Detection Resonance Frequency Shift of a Piezoelectric Microcantilever Sensor by a DC Bias Electric Field in Humidity Detection,” *Sensors and Actuators*, B 138, 1 (2009).
42. C.-Y. Hsieh,* Y.-F. Chen, **W. Y. Shih**, Q. Zhu, and W.-H. Shih, “Direct Observation of Two-Step Polarization Reversal by an Opposite Field in a Substrate-Free Piezoelectric Thin Sheet,” *Appl. Phys. Lett.*, 94, 131101 (2009).
43. H. Li,* W.-H. Shih, **W. Y. Shih**, L. Chen, S.-J. Tseng, and S-C. Tang, “Transfection of Aqueous CdS Quantum Dots Using Polyethylenimine," *Nanotechnology*, 19, 475101(2008).
44. **W. Y. Shih** and W.-H. Shih, ‘Response to “Comment on ‘Mechanism of flexural resonance frequency shift of a piezoelectric microcantilever sensor during humidity detection’,” *Appl. Phys. Lett.* 93, 096102 (2008).
45. **W. Y. Shih**, Q. Zhu, and W.-H. Shih, “Length and Thickness Dependence of Longitudinal Flexural Resonance Frequency Shifts of a Piezoelectric Microcantilever Sensor due to Young’s Modulus Change,” J. Appl. Phys. 104, 074503 (2008).
46. J. Capobianco,* **W. Y. Shih**, W.-H. Shih, Q.-A. Yuan, and G. P. Adams, “Label-free, All-electrical, In-Situ Human Epidermal Growth Receptor-2 Detection,” *Rev. Sci. Instrum.* 79, 076101 (2008).
47. Q. Zhu,* **W. Y. Shih**, and W.-H. Shih, “Mechanism of Flexural Resonance Frequency Shift of a Piezoelectric Microcantilever Sensor during Humidity Detection,” *Appl. Phys. Lett.* 92, 183505 (2008).
48. J.-P. McGovern,* W.Y. Shih, R. Rest, M. Purohit, Y. Pandia, and W.-H. Shih, “Label-Free Flow-Enhanced Specific Detection of Bacillus anthracis Detection Using a Piezoelectric Microcantilever Sensor,” *The Analyst*, 132, 649-654 (2008).
49. Q. Zhu,* **W. Y. Shih**, and W.-H. Shih, “Mechanism of the Flexural Resonance Frequency Shift of a Piezoelectric Microcantilever Sensor in a DC Bias Electric Field,” Appl. Phys. Lett. 92, 033503 (2008).
50. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Stable aqueous ZnS quantum dots using (3-mercaptopropyl)trimethoxysilane as capping molecule,” *Nanotechnology*, 18, 495605 (2007).
51. H. Yegingil,* **W. Y. Shih**, and W.H. Shih, “Probing Bottom-Supported Inclusions in Model Tissues Using Piezoelectric Cantilevers,” *Rev. Sci. Instr.*, 78, 115101 (2007).
52. H. Luo,* **W. Y. Shih**, and W.-H. Shih, “Double Precursor Solution Coating approach for Low-Temperature Sintering of [Pb(Mg1/3Nb2/3)O3]0.63[PbTiO3]0.37 Solids,” *J. Am. Ceram. Soc.*, 90, 3825 (2007).
53. Z. Shen,* **W. Y. Shih**, and W.-H. Shih, “Flexural Vibrations and Resonance of Piezoelectric Cantilevers with a Nonpiezoelectric Extension,” *IEEE Trans. on Ultra. Ferro. Freq. Cont.*, 54, 2001 (2007).
54. W.-S. Su,* **W. Y. Shih**, H. Luo, Y.-F. Chen, and W.-H. Shih, “Non-180° Domain Switching in PMN-PT Polycrystalline Sheets at Single Grain Level,” *Appl. Phys. Lett.*, 91, 112903 (2007).
55. J.-P. McGovern,* **W. Y. Shih**, and W.-H. Shih, “In-Situ Detection of Bacillus Anthracis Spores Using Fully Submersible, Self-Exciting, Self-Sensing PMN-PT/Sn Piezoelectric Microcantilevers,” *The Analyst*, 132, 777-783 (2007).
56. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Effect of Antimony Concentration on the Crystalline Structure, Dielectric, and Piezoelectric Properties of (Na0.5K0.5)0.945Li0.055Nb1-xSbxO3 Solid Solutions,” *J. Am. Ceram. Soc.*, 90, 3070 (2007).
57. J. Capobianco,* **W. Y. Shih**, and W.-Heng Shih, “3-Mercaptopropyltrimethoxysilane as Insulating Coating and Surface for Protein Immobilization for Piezoelectric Microcantilever Sensors,” *Rev. Sci. Instr.*, 78, 046106 (2007).
58. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Non-Heavy Metal ZnS Quantum Dots with Bright Blue Photoluminescence by a One-Step Aqueous Synthesis,” *Nanotechnology*, 18, 205604 (2007)
59. Q. Zhu,* **W. Y. Shih**, and W.-H. Shih, “Real-Time, Label-Free, All-Electrical Detection of Salmonella typhimurium Using Lead Titanate Zirconate/Gold-Coated Glass Cantilevers at any Relative Humidity,” *Sensors and Actuators* B, 125, 379–388 (2007).
60. Q. Zhu,* **W. Y. Shih**, and W.-H. Shih, “In-Situ, In-Water Detection of Salmonella typhimurium Using Lead Titanate Zirconate/Gold-Coated Glass Cantilevers at any Dipping Depth,” *Biosensors and Bioelectronics*, 22, 3132 (2007).
61. H. Li,* **W. Y. Shih**, and W.-H. Shih, “Synthesis and Characterization of Biocompatible Aqueous Carboxyl-capped CdS Quantum Dots,” *Ind. Eng. Chem. Res.*, 46, 2013 ( 2007).
62. H. Yegingil,* **W. Y. Shih**, and W.-H. Shih, “All-Electrical Palpation Shear Modulus and Elastic Modulus Measurement Using a Piezoelectric Cantilever with a Tip,” *J. Appl. Phys.*, 101, 054510 (2007).
63. **W. Y. Shih**,* H. Luo, H. Li, C. Martorano, and W.-H. Shih, “Sheet geometry enhanced giant piezoelectric coefficients,” *Appl. Phys. Lett.*, 89, 242913 (2006).
64. J. Capobianco,* **W. Y. Shih**, and W.-Heng Shih, “Methyltrimethoxysilane-Insulated Piezoelectric Microcantilevers for Direct, All-Electrical Bio-detection in Buffered Aqueous Solutions” *Rev. Sci. Instr.*, 77, 125105 (2006).
65. Q. Zhao,* Q. Zhu, **W. Y. Shih**, W.-H. Shih, “Array adsorbent-coated lead zirconate titanate (PZT)/stainless steel cantilevers for dimethyl methylphosphonate (DMMP) detection,” *Sensors and Actuators* B 117, 74–79(2006).
66. Z. Shen,* **W. Y. Shih**, and W.-H. Shih, “Self-Exciting, Self-Sensing PZT/SiO2 Piezoelectric Microcantilever Sensors with Femtogram/Hz Sensitivity,” *Appl. Phys. Lett.*, 89, 023506 (2006).
67. Z. Shen,* **W. Y. Shih** and W.-H. Shih, “Mass Detection Sensitivity of Piezoelectric Cantilevers with a Nonpiezoelectric Extension,” *Rev. Sci. Ins.*, 77, 065101 (2006).
68. S. T. Szewczyk,* W.Y. Shih, and W.-H. Shih, “Palpation-Like Soft Mateials Elastic Modulus Measurement Using Piezoelectric Cantilevers,” *Rev. Sci. Ins.*, 77, 044302 (2006).
69. A. Markidou,* **W. Y. Shih**, and W.-H. Shih, “Soft-Materials Elastic and Shear Moduli Measurement Using Piezoelectric Cantilevers,” *Rev. Sci. Ins.* 76, 064302 (2005).
70. H. Gu,* **W. Y. Shih**, and W.-H. Shih, “Low-Temperature Single Step Reactive Sintering of Lead Magnesium Niobate Using Mg(OH)2-Coated Nb2O5 Powders,” *J. Am. Ceram. Soc.* 88(6), 1435 (2005).
71. H. Luo,* **W. Y. Shih**, and W.-H. Shih, “Comparison in the Coating of Mg(OH)2 on Micron-sized and Nanosize Nb2O5 Particles,” *Int. J. Appl. Ceram. Tech.*, 1[2], 146-154 (2004).
72. J. W. Yi,* **W. Y. Shih**, R. Mutharasan, and W.-H. Shih, “In Situ Cell Detection Using Piezoelectric Lead Zirconate Titanate-Stainless Steel Cantilevers,” *J. Appl. Phys.*, 93, 619 (2003).
73. H. Gu,* **W. Y. Shih**, and W.-H. Shih, “A Single-Calcination Synthesis of Pyrochlore-Free 0.9PMN-0.1PT and PMN Ceramics by a Coating Method,” *J. Am. Ceram. Soc.*, 86[2], 217-21 (2003).
74. **W. Y. Shih**, X. Li, J. Vartuli, D. L. Milius, R. Prud’homme, I. A. Aksay, and W.-H. Shih, "Detection of Water-Ice Transition Using PZT/Brass Transducer," *J. Appl. Phys*. 92 (1), 106 (2002).
75. X. Li,* **W. Y. Shih**,  J. S. Vartuli, D. L. Milius, I. A. Aksay, and W.-H. Shih, “Effect of a Transverse Tensile Stress on the Electric-Field-Induced Domain Reorientation in Soft PZT: In-Situ XRD Study,” *J. Am. Ceram. Soc.*, 85 (4): 844 (2002).
76. J. W. Yi,* **W. Y. Shih**, and W. H. Shih, "Effect of length, width, and mode on the mass detection sensitivity of piezoelectric unimorph cantilevers," *J. Appl. Phys.* 91 (3), 1680 (2002).
77. C. Y. Yang,* **W. Y. Shih**, and W.-H. Shih, “Monte Carlo Simulations of the Nucleation and Growth Process of Colloidal Particles,” *Phys. Rev. E.*, 64, 1403 (2001).
78. C.-Y. Yang,* **W. Y. Shih**, and W.-H. Shih, “The Effects of Boehmite-Coating Thickness on the Consolidation and Rheological Properties of Boehmite-Coated SiC Suspensions,” *J. Am. Ceram. Soc.* 84(12), 2834 (2001).
79. X. Li,* J. S. Vartuli, D. L. Milius, I. A. Aksay, **W. Y. Shih**, and W.-H. Shih, “Electromechanical Properties of a Ceramic d31-Gradient Flextensional Actuator,” *J. Am. Ceram. Soc.*, 84 (5), 996 (2001).
80. **W. Y. Shih**, X. Li, H. Gu, W.-H. Shih, and I. A. Aksay, "Simultaneous Liquid Viscosity and Density Determination Using Piezoelectric Unimorph Cantilevers," *J. Appl. Phys.*, 89, 1497 (2001).
81. C.-Y. Yang,* **W. Y. Shih**, and W.-H. Shih, “Gelation, Consolidation, and Rheological Properties of Boehmite-Coated Silicon Carbide Suspensions,” *J. Am. Ceram. Soc.*, 83[8], 1879-84 (2000).
82. X. Li,* **W. Y. Shih**, I. A. Aksay, and W. H. Shih, “Electromechanical Behaviors of PZT/Brass Plate Unimorph,” *J. Am Ceram. Soc.*, 82(7), 1733-40 (1999).
83. **W. Y. Shih**, W. H. Shih, I. A. Aksay, “Elastic and Yield Behavior of Strongly Flocculated Colloids,” *J. Am Ceram. Soc.* 82, 616 (1999).
84. **W. Y. Shih**, W. H. Shih, and I. A. Aksay “Scaling Analysis for the Axial Displacement and Pressure of Flextensional Transducers,” *J. Am Ceram. Soc.* 80(5) 1073(1997).
85. X. Liu,* **W. Y. Shih**, and W. H. Shih, “Effects of Copper Coating on the Crystalline Structure of Fine Barium Titanate Particles,” *J. Am Ceram. Soc.* 80(11) 2781(1997).
86. W. H. Shih, D. Kisailus D, **W. Y. Shih**, Y. H. Hu, J. Hughes, “Rheology and Consolidation of Colloidal Alumina-Coated Silicon Nitride Suspensions,” *J. Am Ceram. Soc.* 79(5) 1155 (1996).
87. **W. Y. Shih**, W. H. Shih, I. A. Aksay, “Heteroflocculation in Binary Colloidal Suspensions: Monte Carlo Simulations,” *J. Am Ceram. Soc.* 79(10) 2587(1996).
88. B. Keimer, **W. Y. Shih**, I. A. Aksay, J. W. Lynn, R. W. Erwin, “Vortex Lattice Symmetry And Electronic-Structure In Yba2Cu3O7 – Reply,” *Phys. Rev. Lett.* 75(7) 1423 (1995).
89. **W. Y. Shih**. W.-H. Shih, and I. A. Aksay, "Elimination of an Isolate Pore: Effect of Grain Size," *J. Mater. Res.*, 8[4], (1995).
90. **W. Y. Shih**, W. H. Shih, and I. A. Aksay, "Size Dependence of the Ferroelectric Transition of Small BaTiO3 Paticles: Effect of Depolarization," *Phys. Rev.* B 50, 15575 (1994).
91. B. Keimer, **W. Y. Shih**, R. W. Erwin, J. W. Lynn, F. Dogan, and I. A. Aksay, "Vortex lattice Symmetry and Electronic Structure in YBa2Cu3O7," *Phys. Rev. Lett.* 73, 3459 (1994).
92. B. Keimer, J. W. Lynn, R. W. Erwin, F. Dogan, **W. Y. Shih**, and I. A. Aksay, "Vortex Structures in YBa2Cu3O7," *J. Appl. Phys.* 76, 6778 (1994).
93. W.-H. Shih, **W. Y. Shih**, S. I. Kim, and I. A. Aksay, "Equilibrium-State Density Profiles of Centrifuged Cakes," *J. Am. Ceram. Soc.* 77[2] 540-46 (1994).
94. **W. Y. Shih**, J. Liu, W.-H. Shih, and I. A. Aksay, "Aggregation of Colloidal Particles With a Finite Interparticle Attraction Energy," *J. Stat. Phys.* 62, 961 (1991).
95. M. Yasrebi, **W. Y. Shih**, and I. A. Aksay, "Clustering of Binary Colloidal Suspensions: Experiment", *J. Collod and Interf. Sci.* 142, 357 (1991).
96. J. Liu, **W. Y. Shih**, R. Kikuchi, and I. A. Aksay, "On the Clustering of Binary Colloidal Suspensions," *J. Collod and Interf. Sci.* 142, 369 (1991).
97. W.-H. Shih, **W. Y. Shih**, S. I. Kim, J. Liu, and I. A. Aksay, "Scaling Behavior of Elastic Properties of Colloidal Gels," *Phys. Rev.* A 42, 4772 (1990).
98. J. Liu, M. Sarikaya, **W. Y. Shih** and I. A. Aksay, "Fractal Colloidal Aggregates With Finite Interparticle Interactions: Energy Dependence of the Fractal Dimension", *Phys. Rev.* A 41, 3206 (1990).
99. **W. Y. Shih**, W.-H. Shih, and I. A. Aksay, "Density Profile of Semi-Dilute Athermal Polymer Solutions Near a Hard Wall," *Macromolecules* 23, 3291(1990).
100.  **W. Y. Shih**, W.-H. Shih, and I. A. Aksay, "Stability of Binary Charged Colloidal Crystals," *J. Chem. Phys.* 90, 4506 (1989).
101.  **W. Y. Shih**, I. A. Aksay and R. Kikuchi, "Reversible Growth Model: Cluster-Cluster Aggregation With Finite Binding Energies," *Phys. Rev.* A 36, 5015 (1987).
102.  **W. Y. Shih**, I. A. Aksay and R. Kikuchi, "Phase Diagram of Charged Colloidal Particles," *J. Chem. Phys.* 86, 5127 (1987).
103.  **W. Y. Shih**, J. P. Hirth and D. Stroud, "Twin Boundary Energies and Entropies in Simple Metals," *Phys. Rev.* B 34, 2895 (1986).
104.  **W. Y. Shih** and D. Stroud, "Heat of Solution of Stressed Metal Alloys and Grain Boundary Segregation:  Al1-xZnx," *Phys. Rev.* B 32, 7779 (1985).
105.  **W. Y. Shih** and D. Stroud, "Melting of Stressed Metal Alloys and Grain Boundary Melting: Al1-xZnx," *Phys. Rev.* B 32, 7785 (1985).
106.  **W. Y. Shih** and D. Stroud, "Effects of Lattice Structure on 2d Superconducting Arrays in a Magnetic Field," *Phys. Rev.* B 32, 158 (1985).
107.  **W. Y. Shih** and D. Stroud, "Superconducting Arrays in a Magnetic Field: Effects of Lattice Structure and a Possible Double Transition," *Phys. Rev.* B 30, 6774 (1984).
108.  **W. Y. Shih**, C. Ebner and D. Stroud, "Frustration and Disorder in Granular Superconductors," *Phys. Rev.* B 30, 134 (1984).
109.  **W. Y. Shih** and D. Stroud, "Molecular-Field Approximation for Josephson-Coupled Superconducting Arrays in a Magnetic Field," *Phys. Rev.* B 28, 6575 (1983).
