---
title: Contact
---
%h1= current_page.data.title
.clearfix
  = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/shih-wan.ashx", alt: "Dr. Wan Y. Shih", class: "right"
  %h2 Wan Y. Shih, PhD
  %p
    %em Professor
    %br/
    %em School of Biomedical Engineering, Science and Health Systems
    %br/
    %em Drexel University
  %p
    %strong Office:
    Monell 104
    %br/
    %strong Phone:
    215.895.2325
    %br/
    %strong Email:
    = mail_to "shihwy@drexel.edu"

