---
title: Patents
---
<h1><%= current_page.data.title %></h1>
1.  J. Vartuli, D. L. Milius, X. Li, W.-H. Shih, **W. Y. Shih**, R. K. Prud'homme, and I. A. Aksay, "Multilayer Ceramic Piezoelectric Laminates with Zinc Oxide Conductors," United States Patent No. 6,329,741 issued Dec. 11, 2001.
2.  W.-H. Shih, H. Li, M. Schillo, and **W. Y. Shih**, “Synthesis of Water Soluble Nanocrystalline Quantum Dots and Uses Thereof,” US Patent No. 7,335,345, February 26, 2008.
3.  **W. Y. Shih**, W.-H. Shih, and Z. Shen, “Piezoelectric Cantilever Sensors,” US Patent No. 7,458,265, issued December 2, 2008.
4.   **W. Y. Shih**, W.-H. Shih, A. Markidou, S. Szewczyk, H. Yegingil, “All Electrical Piezoelectric Finger Sensor (PEFS),” US Patent No. 7,497,133, March 3, 2009.
5.   W.-H. Shih, H. Li, and **W. Y. Shih**, “Water Soluble Quantum Dots,” US Patent No. 7,597.870, October 6, 2009.
6.  W.-H. Shih, H. Luo, C. Martorano, and **W. Y. Shih**, “Freestanding Films with Field-Enhanced Piezoelectric Coefficients,” US patent No. 7,744,773, June 29, 2010.
7.  **W. Y. Shih**, W.-H. Shih, A. Markidou, S. Szewczyk, H. Yegingil, “All Electrical Piezoelectric Finger Sensor (PEFS),” US Patent No. 7,779,707, August 24, 2010.
8.  W.-H. Shih, **W. Y. Shih**, and H. Gu, “Method of Making Mixed Metal Oxide Ceramics,” US Patent No. 7,785,527, August 31, 2010.
9. W.-H. Shih, H. Li, and **W. Y. Shih**, “Water Soluble Nanocrystalline Quantum Dots,” US utility patent No. 7976819, July 12, 2011.
10. **W. Y. Shih**, W.-H. Shih, Z. Shen, and Q. Zhu, “Piezoelectric Microcantilevers and Uses in Atomic Force Microscopy,” US patent No. 7,992,431, August 9, 2011.
11. W.-H. Shih, H. Yegingil, and **W. Y. Shih**, “Energy Harvesting Device”, US Patent No. 8,110,964, February 7, 2012.
12. **W. Y. Shih**, W.-H. Shih, and J. A. Capobianco, “Electrical Insulation of Devices with Thin Layers,” US Patent No. 8,197,757, June 12, 2012.
13. W.-H. Shih, H. Li, and **W. Y. Shih**, “Lead-free piezoelectric ceramic films and a method for making thereof,” US patent No. 8,241,569, August 14, 2012.
14. W.-H. Shih, H. Yegingil, and **W. Y. Shih**, “Energy Harvesting Device”, US Patent no. 8,421,313, April 16, 2013.
15. **W. Y. Shih** and W.-H. Shih, “A Hand-Held Phase-Shift Detector for Sensor Applications,” US patent No. 8,456,150, June 4, 2013.
16. W.-H. Shih, Huiming Gu, **W. Y. Shih**, “Method of Making Mixed Oxide ceramics,” US patent No. 8,475,706 B2, July 2, 2013.
17. **W. Y. Shih** and W.-H. Shih, “Specificity and Sensitivity Enhancement in Cantilever Sensing,” US patent No. 8,481,335, July 9, 2013.
18. W.-H. Shih, **W. Y. Shih**, H. Li, “Synthesis of Water Soluble Non-Toxic Nanocrystalline Quantum Dots and Uses Thereof,” US Patent No. 8,491,818, July 23, 2013.
19. W.-H. Shih, H. Li, and **W. Y. Shih**, “Lead-free piezoelectric ceramic films and a method for making thereof,” US patent No. 8,496,870, July 30, 2013.
20. **W. Y. Shih**, W.-H. Shih, A. Markidou, S. Szewczyk, H. Yegingil, “All Electrical Piezoelectric Finger Sensor (PEFS),” US Patent No. 8,549,933, October 8, 2013.
21. **W. Y. Shih**, W.-H. Shih, H. Yegingil, and A. Brooks, “System and method for evaluating tissue,” US Patent No. 8,562,546, B2, October 22, 2013.
22. W.-H. Shih, **W. Y. Shih**, and H. Li, “Lead-Free Piezoelectric Ceramic Films and a Method for Making Thereof,” US Patent No. 8,715,575, May 6, 2014.
23. **W. Y. Shih**, J. Capobianco, and W.-H. Shih, “Determination of Dissociation Constants Using Piezoelectric Microcantilevers,” US Patent No. 8,722,427, May 13, 2014.
24. **W. Y. Shih**, W.-H. Shih, and Q. Zhu, “Enhanced Detection Sensitivity with Piezoelectric Sensors,” US Patent No. 8,741,663, June 3, 2014.
25. **W. Y. Shih**, W.-H. Shih, A. Markidou, S. Szewczyk, H. Yegingil, “All Electric Piezoelectric Finger Sensor (PEFS) for Soft Material Stiffness Measurement,” US patent No. 8,826,749. September 9, 2014.
26. **W. Y. Shih**, W.-H. Shih, H. Yegingil, and A. Brooks, “System and method for evaluating tissue,” US Patent No. US8845555 B2, September 30, 2014.
27. **W. Y. Shih**, Q. Zhu, Z. Shen, and W.-H. Shih, “Piezoelectric Microcantilevers and Uses in Atomic Force Microscopy,” US Patent No. 8,857,248 B2, October 14, 2014.
29. W.-H. Shih, H. Li, **W. Y. Shih**, A. Kopek, I. MacDonald, Yu-Chieh Lu, and Ryan O’Malley, “Water-soluble Nanocrystalline Quantum Dots Capable of Near Infrared Emissions,” U.S. Patent No. 8,865,477, October 21, 2014.
30. **W. Y. Shih**, W.-H. Shih, Z. Shen, J.-P Mcgovern, Q. Zhu, and J. Capobianco, “Piezoelectric Microcantilever Sensors for Biosensing,” US Patent No. 8,927,259 B2, January 6, 2015.
31. W.-H. Shih, H. Luo, C. Martorano, and **W. Y. Shih**, “Freestanding Films with Field-Enhanced Piezoelectric Coefficients,” US patent No. 9,039,921 B2, May 26, 2015.
32. **W. Y. Shih**, W.-H. Shih, Z. Shen, J.-P McGovern, Q. Zhu, and J. Capobianco, “Piezoelectric Microcantilever Sensors for Biosensing,” US Patent No. 9,274,082 B2, March 1, 2016.
33. W.-H. Shih, **W. Y. Shih**, G. Au, A. Brooks, V. K. Swami, “Capped and Conjugated Quantum Dots,” US Patent No. 9, 417,240 B2, August 16, 2016.
34. W.-H. Shih, **W. Y. Shih**, Z. Shen, H. Li, and X. Gao, “Sol-Gel Precursors and Methods for Making Lead-based Perovskite Films,” US Patent No. 9,431,598 B2, August, 30, 2016.
35. **W. Y. Shih**, W.-H. Shih, and Q. Zhu, “Enhanced Detection Sensitivity with Piezoelectric Microcantilever Sensors,” US patent No. 9,488,622 B2, November 8, 2016.
36. **W. Y. Shih**, J-P McGovern, and W.-H. Shih, “Flow-Based Enhancement of Specificity for Label-Free Biochemical Assays,” US patent No. 9,599,612 B2, March 21, 2017
 
