.home-panel
  %h2 Recent Publications
  %ul.unstyled
    %li
      %strong
        Stable Aqueous Wurtzite Kesterite Suspensions by Direct Precipitation with Capping Molecules
      %br/
      %em
        J. Nanoscience and Nanotechnology
    %li
      %strong
        Development of array piezoelectric fingers towards in vivo breast tumor detection
      %br/
      %em
        Review of Scientific Instruments
    %li
      %strong
        Control of morphology, photoluminescence, and stability of colloidal methylammonium lead bromide nanocrystals by oleylamine capping Molecules
      %br/
      %em
        J. Colloid and Interface Science
  = link_to "Publication List", "publications/list", class: "more-link"